GEMINI_API_KEY=YOUR_AI_STUDIO_API_KEY

# X/Twitter API
X_API_KEY=YOUR_CONSUMER_KEY
X_API_SECRET=YOUR_CONSUMER_SECRET_KEY
X_ACCESS_TOKEN=YOUR_ACCESS_TOKEN
X_ACCESS_SECRET=YOUR_ACCESS_SECRET

# dev.to API KEY
DEVTO_API_KEY=xxxxxxxxxxxxxxxxxxxx

SERVER_PORT=YOUR_PORT (8080) 